.portfolio-section {
    display: flex;
    justify-content: space-between;
}
.portfolio-01 {
    flex: 1;
    height: 700px;
    margin-right: 20px;
 
}
.portfolio-02 {
    flex: 1;
}
.main-img-tag {
    display: flex;
    justify-content: center;
}
.main-img {
    width: 400px;
    height: 300px;
    border: 1px solid rgb(217, 210, 210);
}
.main-img img {
    width: 100%;
    height: 100%;
}
.portfolio-title {
    margin-bottom: 50px;
    font-weight: 600;
    color: black;
    font-size: 20px;
    text-align: center;
    
}
.portfolio-desc p {
    text-align: center;
    margin-top: 30px;
    
}
.portfolio-desc a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    border: 1px solid #000;
    display: inline-block;
    text-align: center;
    padding: 15px 0;
    background-color: black;
    margin-top: 30px;
    font-weight: 500;
}
.modal_p {
    margin: 50px 0;
}
.modal-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-card {
    flex: 1;
    margin-bottom: 30px;
}
.modal-img {
    width: 550px;

}
.modal-img img {
    width: 100%;
}
.modal-title {
    color: black;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
}
.modal-card span {
    color: red;
    margin-bottom: 10px;
    display: block;
}

